body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #434343, #000000);
  color: #fff;
  padding: 20px;
  border-radius: 15px;
  max-width: 600px;
  margin: 50px auto;
}
.task-form, .task-item, .task-list {
  margin-top: 20px;
}
.button-add, .button-delete, .button-status {
  background-color: gold;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}
